/*Global*/
body{
  background-color: white;
  color: black;
  font-family: Arial, Helvrtica, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  margin: 0;
}

a{
  text-decoration: none;
  color: red;
}

a:hover{
  color: blue;
}

a:active{
  color: orange;
}

h1{
  font-size: 30px;
}
/*Global*/



/*Head & Foot*/
header{
  padding-top: 20px;
  height: 0px;
  background-color: white;
}

footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  height: 0px;
}

#footerControl{
  position: relative;
  min-height: 100vh;
}

#footerHelp{
  padding-bottom: 40px;
}
/*Head & Foot*/



/*Columns*/
.row{
  width: 95vw;
  margin: auto;
  overflow: hidden;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.column#flrPlan{
  display: inline-block;
  float: left;
  width: 45vw;
}

.column#eqpList{
  display: inline-block;
  float: left;
  width: 20vw;
}

.column#envPlot{
  display: inline-block;
  float: right;
  width: 25vw;
}

@media(max-width:1200px){
  .column#flrPlan{
    width: 45vw;
  }

  .column#eqpList{
    width: 20vw;
  }

  .column#envPlot{
    width: 20vw;
  }
}

@media(max-width:600px){
  .column#flrPlan{
    width: 45vw;
  }

  .column#eqpList{
    width: 15vw;
  }

  .column#envPlot{
    width: 20vw;
  }
}
/*Columns*/



/*Scrollbar*/
.dropDownList{
  max-height: 60vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 15px;
  display: none;
}

.dropDownList::-webkit-scrollbar {
  width: 15px;
  display: initial;
}

::-webkit-scrollbar-track{
  background-color: #7dd87d;
}

::-webkit-scrollbar-thumb{
  background-color: #4c9173;
  border-radius: 20px;
  border: 2.5px solid #7dd87d;
}
/*Scrollbar*/



/*Search Bar*/
input[type=search]{
  height: 30px;
  width: 84%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: gainsboro;
}

button.search{
  height: 30px;
  width: 15%;
  float: right;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: transparent;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

button.search:hover{
  background: lightgrey;
}

button.search:active{
  background: lightblue;
}
/*Search Bar*/



/*Floor Plan*/
#flrPlan{
  padding: 10px;
}

.image{
  width: 100%;
  height: auto;
}
/*Floor Plan*/



/*Equipment List*/
#eqpList{
  padding: 10px;
}

#eqpList h1{
  text-align: left;
}

#eqpList a{
  color: white;
  margin-left: 10px;
}

#eqpList a:hover{
  color: red;
}

#eqpList a:active{
  color: lime;
}

#eqpList ul{
  width: 100%;
  display: none;
  padding: 0;
  margin: 0;
  float: left;
}

#eqpList ul.dropDownList{
  display: block;
  background-color: #4c5f7a;
}

#eqpList li{
  padding: 5px 0px;
  width: 100%;
  float: left;
  clear: left;
  display: inline;
  position: relative;
  list-style: none;
}

#eqpList ul.subList{
  background-color: #393e6f;
  position: relative;
  left: 0;
  top: 100%;
  display: none;
}

#eqpList ul.subsubList{
  background-color: #3d2e4f;
  position: relative;
  left: 0;
  top: 100%;
  display: none;
}

button.add{
  height: 30px;
  width: 20%;
  float: left;
  padding: 5px;
  margin-top: 10px;
  background: beige;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

button.add:hover{
  background: lavender;
}

button.add:active{
  background: plum;
}

button.clkdadd{
  height: 30px;
  width: 20%;
  float: left;
  padding: 5px;
  margin-top: 10px;
  background: red;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

button.clkdadd:hover{
  background: salmon;
}

button.clkdadd:active{
  background: plum;
}

button.edit{
  height: 30px;
  width: 20%;
  float: left;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10%;
  background: beige;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

button.edit:hover{
  background: antiquewhite;
}

button.edit:active{
  background: orange;
}

button.clkdedit{
  height: 30px;
  width: 20%;
  float: left;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10%;
  background: red;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

button.clkdedit:hover{
  background: salmon;
}

button.clkdedit:active{
  background: orange;
}
/*Equipment List*/



/*Environmental Plot*/
#envPlot{
  padding: 10px;
  text-align: center;
}

#envPlot a{
  background-color: gainsboro;
  color: black;
}

#envPlot a:hover{
  color: red;
}

#envPlot a:active{
  color: blue;
}

button.pause{
  height: 30px;
  width: 25%;
  float: left;
  padding: 5px;
  margin-left: 15%;
  background: beige;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

button.pause:hover{
  background: mistyrose;
}

button.pause:active{
  background: lightcoral;
}

button.clkdpause{
  height: 30px;
  width: 25%;
  float: left;
  padding: 5px;
  margin-left: 15%;
  background: red;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

button.clkdpause:hover{
  background: salmon;
}

button.clkdpause:active{
  background: palegreen;
}
/*Environmental Plot*/



/*circle*/
.circle {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
}
/*circle*/









